target/
.classpath
.project
.settings/
*.iml
.idea
.DS_Store
.env
.vscode/
.vscode/*
.bin/

yarn-error.log
package-lock.json

node_modules
node_modules/
/data/logs/
/data/reports/
tmp/
tools/
public/
scripts/resources/ag-grid/
scripts/resources/report_data.js


/test-results/
/playwright-report/
/playwright/.cache/
